body {
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-image: url(CEIS.jpg);
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
	backdrop-filter: blur(10px);
	border-radius: 15px;
}

h1{
	text-align: center;
	border: 2px solid white;
	padding: 10px;
	background: linear-gradient(2.5, 255, 255, 0.1);
}

h2 {
	text-align: center;
	margin-bottom: 40px;
	color: #fffcfc;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

/* .input-box{
	width: 100%;
	display: flex;
	align-items: center;


}
.input-box input{
	width: 90%;
	padding: 10px 0;
	border: 0;
	outline: 0;

}
.input-box img{
	width: 35px;
	padding-right: 10px;
	cursor: pointer;
} */

label {
	color: #fffcfc;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	padding: 10px 15px;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}